* {
	margin: 0;
	padding: 0;
}
body {
	font: 10px normal verdana, arial, helvetica, sans-serif;
	color: #444;
	margin-bottom: 10px;
	margin-left: 30px;
	margin-right: 0;
	margin-top: 50px;
}

#geral {
	width: 700px;
	height: 500px;
	margin: 10px auto;
	background-color: #fff;
	text-align: center;
}

h1 {
	padding: 10px;
	font-size: 30px;
	color: #024769;
	margin-left: 70px }

h2 {
	text-align: left;
	padding: 10px 0 0 10px;
}

#miniaturas {
	width: 420px;
	padding-right: 250px;
	position: relative;
	border: 5px solid #ccc;
	height: 250px;
	background: #95cbe9;
}

#miniaturas ul.lista {
	position: absolute;
	top: 0;
	left: 400px;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 270px;
}

#miniaturas ul.lista li {
	padding: 1px 0;
	padding-left: 13px;
	font-size: 12px;
	color: #666;
}

#miniaturas ul.lista li img {
	float: left;
	margin: 2px 5px;
	background-color: #FFF;
	padding: 2px;
	border: 1px solid #eee;
}

#miniaturas ul.lista li span {
	font-size: 14px;
	font-family: Verdana, Arial;
	line-height: 18px;
}

#miniaturas li.item a {
	display: block;
	height: 60px;
	color: #333;
	background-color: #39b0b7;
	line-height: 20px;
}

#miniaturas li.item a:hover {
	background-color: #F2F2F2;
}

#miniaturas ul.lista li.selected a {
	background-color: #efd279;
}

#miniaturas .painel {
	width: 425px;
	height: 250px;
	background-color: #999;
	position: relative;
}


#miniaturas .painel .info {
	position: absolute;
	top: 180px;
	left: 0;
	height: 70px; 
	background: rgba(0,0,0,0.6);
}	

#miniaturas .info h2 {
	font-size: 18px;
	font-family: Georgia, serif;
	color: #fff;
	padding: 5px;
	margin: 0;
	overflow: hidden;
}	

#miniaturas .info p {
	font-size: 11px;
	font-family: Verdana, Arial;
	color: #f0f0f0;
	line-height: 15px; 
	margin: 0 5px;

}	


#miniaturas .info a {
	color: #fff;
	text-decoration: none; 
}

#miniaturas .escondida {
	display: none;
}	

#esconde {
	overflow: hidden;
	height: 250px;
}